/* Our CSS file. */


.container{
width: 100%;
height: auto;
border: 0.5px solid gray;
background-color: rgb(220, 212, 212);
}
.row {
display: block;
width: 90%;
height:100px;
margin: 10px;
}

.column {
    display: inline-flex ;
    width: 45%;
    height:inherit;
    margin:10px;
    float:left;
  }

  ul{
    margin:0;  
   
  }